# -------------------------------
# Python cache files
# -------------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Virtual environments
# -------------------------------
venv/
env/
ENV/
.venv/

# -------------------------------
# Streamlit config
# -------------------------------
.streamlit/

# -------------------------------
# OS files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Logs & temp files
# -------------------------------
*.log
*.tmp
*.swp

# -------------------------------
# IDE / Editor files
# -------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------------
# Environment variables
# -------------------------------
.env

# -------------------------------
# Build / distribution files
# -------------------------------
build/
dist/
*.egg-info/

# -------------------------------
# Jupyter Notebook checkpoints
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# Matplotlib cache
# -------------------------------
.matplotlib/

# -------------------------------
# Pytest cache
# -------------------------------
.pytest_cache/